.container {
    display: flex;
    min-height: 100vh;
  }
  
  .imageContainer {
    flex: 1;
    position: relative;
  }
  
  .infoContainer {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color:  rgb(24, 36, 65);
  }
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  
  
